<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>React Admin</title>
    {{ style('app') }}
  </head>
  <body>
    @!section('content')
     {{ script('app') }}
  </body>
</html>
